.price_plans_container{
  
}

.cards_view{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem auto;
  width: 80%;
}

.title_component{
  width: 100%;
  text-align: center;
}
.title_component h2{
  font-weight: 600;
  color: #2664eb;
}
.title_component p{
  color: #82814b;
  font-weight: 600;
}

@media screen and (max-width: 768px){
  .price_plans_container{
    max-width: 100vw;
  }
  .cards_view{
    flex-direction: column-reverse;
    gap: 3rem;
  }
}