

.hero_container{
  height: 100vh;
  overflow: hidden;
  background-color: #020318;
}

.focus{
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 10%;
  z-index: 1;
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.focus h1{
  margin: 0;
}

.focus .actions{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.actions .contact{
  cursor: pointer;
  padding: 1rem;
  transition: .3s all ease-in-out;
}

.actions .contact:hover{
  scale: 1.05;
}

.hero_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(1turn, black, transparent);
}

@media screen and (max-width:1366px){
  .focus{
    width: 80%;
  }
}

@media screen and (max-width: 430px){
  .focus{
    width: 90%;
    left: 5%;
    padding-top: 5rem;
    text-align: center;
  }
  .actions{
    flex-direction: column;
    align-items: stretch !important;
    gap: 0rem !important;
  }
  
  .actions .contact{
    text-align: center;
  }
}