
.card_plan_price_container{
  width: 300px;
  min-height: 600px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  color: #333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 1rem;
  scale: 0.85;
  transition: 0.2s all ease-in-out;
}

.card_plan_price_container:hover{
  scale: 0.9;
}

.card_plan_price_container h2{
  background-color: #2664eb;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  color: rgb(221, 221, 221);
}
.card_plan_price_container h3{
  width: 100%;
  text-align: center;
  margin: 0.5rem;
}

.stand_out{
  scale: 1;
}
.stand_out:hover{
  scale: 1.05;
}
.stand_out h2{
  font-size: 30px;
  color: white;
}
.stand_out h3{
  color: #2664eb;
}

.list_of_items{
  width: 100%;
  overflow: auto;
}

.list_of_items .item{
  padding: 0.3rem 1rem;
}

.card_price_button{
  position: absolute;
  bottom: 0;
  margin: 0.5rem;
  width: 160px;
  height: auto;
  background-color: #2664eb;
  border: none;
  outline: none;
  transition: 0.3s all ease-in-out;
  border-radius: .5rem;
  border: 2px solid #c3c3c3;
  font-weight: 600;
}
.card_price_button:hover{
  background-color: #ffffff;
  border: 2px solid #c3c3c3;
  color: #2664eb;
}

@media screen and (max-width: 768px){
  .card_plan_price_container{
    width: 90%;
    min-height: auto;
    padding-bottom: 3rem;
    height: auto;
    border-radius: 1rem;
    scale: 1;
  }

  .card_plan_price_container h2{
    background-color: #2664eb;
    padding: 0.2rem 0;
    margin: 0;
    color: rgb(221, 221, 221);
  }
  .card_plan_price_container:hover{
    scale: 1;
  }

  .stand_out h3{
    color: #2664eb;
    padding: 0.6rem;
    margin: 0;
  }

  .stand_out h2{
    font-size: 20px;
    color: white;
  }
  h2{
    font-size: 20px;
  }

  .stand_out{
    order: 1;
  }

  .list_of_items .item{
    padding: 0.1rem 0.5rem;
  }
}