.contact_us_container{
  display: flex;
  height: auto;
  width: 100%;
  margin: 10rem auto;
  position: relative;
  align-items: center;
  justify-content: center;
}
.contact_us_container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.contact_us_container .video_opa{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.72);
}

.contact_us_container .contact_form{
  z-index: 2;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.contact_us_container .side_form_info{
  height: 400px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  color: #ffffff;
  z-index: 2;
}

.side_form_info section h3{
  margin: 0.5rem 0;
}

.contact_form h2{
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
  color: white;
}

.contact_form .input_text{
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

.contact_form .top_form{
  display: flex;
  width: 100%;
  gap: 8%;
  justify-content: space-between;
}

.input_text .input{
  background-color: #fff;
  height: 2rem;
  width: 100%;
  color: #222;
  border: 2px solid #c1c1c1;
  outline: none;
  border-radius: 2px;
}
.input_text .textarea{
  height: 5.5rem;
  font-family:'Tahoma';
  width: 100%;
  resize: vertical;
  max-height: 8rem;
}

.input:focus {
  border: 2px solid #2664eb;
}
.input:not(:placeholder-shown){
  border: 2px solid #2664eb;
}

.input_text .input:focus + label {
  top: 0;
  transform: translate(0%, -100%);
  margin-left: 0.5rem;
  color: white;
}
.input_text .input:not(:placeholder-shown) + label{
  top: 0;
  transform: translate(0%, -100%);
  margin-left: 0.5rem;
  color: white;
}

.input_text label{
  position: absolute;
  color: #222;
  left: 0;
  top: 1rem;
  margin-left: 1rem;
  transform: translate(0%, -50%);
  transition: 0.2s all ease-in-out;
  pointer-events: none;
}



@media screen and (max-width:1366px){

  .contact_us_container{
    margin: 4rem auto;
  }

  .contact_us_container .contact_form{
    width: 40%;
  }

}

@media screen and (max-width: 430px){
  .contact_us_container{
    display: flex;
    height: auto;
    width: 100%;
    margin: 2rem auto;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .contact_us_container .contact_form{
    width: 90%;
  }

  .contact_form h2{
    padding: 0.5rem;
  }
  .contact_us_container .side_form_info{
    height: auto;
    width: 80%;
    gap: 10px;
    margin-bottom: 20px;
  }
}